/* You can add global styles to this file, and also import other style files */
body {
  background-image: linear-gradient(#2e344d, #050414);
  background-attachment: fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: yellow;
}
